<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>
<body>
    <h3>首页</h3>
    <div class="img">
        <h4>1、背景图</h4>
        <div class="bg one"></div>
    
        <h4>2、img元素</h4>
        <img class="two" src="../images/success.png" alt="">
    
        <h4>3、js背景图</h4>
        <div class="bg three"></div>
    
        <h4>4、js改变img元素</h4>
        <img class="four" alt="">
    </div>
    
    <div class="font">
        <h4>字体引用</h4>
        <i class="fa fa-camera-retro"></i> fa-camera-retro
    </div>

    <div class="font">
        <h4>音频引用</h4>
        <audio controls="controls" src="https://static2.zhan.com/beikao/video/listening_test.mp3"></audio>
    </div>

</body>
</html>