h3{
    background: red;
    color: #fff;
}
.bg{
    width: 50px;
    height: 50px;
    
}
img{
    width: 300px;
}
.one{
    background: url('../images/horn.png') no-repeat center;
    background-size: cover;
}
.three{
    background: no-repeat center;
    background-size: cover;
}